.retro-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.retro-options-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  background: rgb(255,102,0);
  background: linear-gradient(0deg, rgba(255,102,0,1) 35%, rgba(255,209,178,1) 100%);
  border: 1px solid black;
  height: 100px;
  border-radius: 10px;
  font-family: "Segoe UI", serif;
  font-size: xx-large;
}

.retro-options-item-text {
  padding-left: 10px;
}

.retro-options-item:hover > .retro-item-selected {
  opacity: 1;
  margin-left: 40%;
}

.option-text {
  color: grey;
}

.join-board-input {
  padding-right: 50px;
}

.create-board-columns {
  width: 100%;
}

.retro-item-selected {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  opacity: 0;
  padding: 12px;
  transform: rotate(-45deg);
  transition: opacity 1s, margin-left 1s;
}
