.join-board-input {
  padding-right: 50px;
}

.create-board-columns {
  width: 100%;
}

.main-area {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto auto;
  justify-content: space-evenly;
  transition: transform ease-in-out 0.6s;
}

.main-area-moved {
  transform: translate(0, -30em);
}

.main-button {
  width: 16em;
  height: 16em;
  background-color: rgb(255,102,0);
  border-radius: 50%;
  display: flex;
  transition: all 0.5s ease;
}

.main-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button-icon {
  margin: auto;
  transform: scale(4);
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.flex-row-button {
  margin-top: 1.5em;
  margin-bottom: 3em;
  transition: all 0.5s ease-in-out;
}

.flex-row-button-clicked {
  transform: scale(0.4);
}

.tooltip {
  transform: rotate(45deg);
}

.tooltip-text {
  display: inline-block;
  position: relative;
  top: -5.2em;
  font-family: Cambria, serif;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.tooltip-item {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.visible-tooltip {
  opacity: 1;
}

.retro-table {
  margin-top: 3em;
  width: 90%;
}
